---
layout: default
title: Curso 1
---

<div id="lessons">  

<div class="row">
<div class="two columns"></div>
<div class="eight columns">
<h3 style="color:red;">ATENÇÃO: Este material ainda se encontra em processo de tradução, para qualquer assunto entrar rm contacto com, <b>paulo.m.marques@gmail.com</b>.</h3>
</div>

<div class="two columns"></div>
</div>
{% assign count = '0' %}

{% assign sorted_pages = site.pages  | sort: "url" %}
  {% for p in sorted_pages %}
	{% if p.term == 1%}
	{% capture count %}{{ count | plus: '1' }}{% endcapture %}

<div class="row">
<div class="two columns"></div>
<div class="eight columns">

<div class="lesson">
	<img  src="{{p.url|replace: '.html','' }}.png" alt="" >
<div class="description">   
<h4>     {{ count }} - {{ p.title  }} </h4>    
        <a class="project_link" href="{{ p.url }}">
         Ver lição
        </a>
        <br>
	{% if p.resources == 1%}
        <a class="resources" href="{{p.url|replace: '.html','' }}.zip">Baixar Recursos</a>
	{%endif %}
	<br>
{% if p.no_sb ==1	%}
{%else %}
   <a class="resources" href="{{p.url|replace: '.html','' }}.sb">Baixar o jogo pronto</a>
   
{%endif %}
	</div>
	</div>
</div>
<div class="two columns"></div>
</div>
	{%endif %}
  {% endfor %}
</div>
